<nav class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Login Man</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if app.user %}
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{ path('Home') }}>Home</a>
                </li>    
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Sign Out</a>       
                </li>      
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{ path('product_create') }}>Add Product</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{ path('product_list') }}>List Product</a>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{ path('app_login') }}>login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{ path('app_register') }}>Sign Up</a>
          
                {% endif %}
            </ul>
        </div>
    </div>
</nav>